body {
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

#landing_title{
    margin: auto;
    text-align: center;
    padding: 10%;
    background: linear-gradient(to bottom, #242873, #7e8ebd);
    color:white;
}

#landing_title h1{
    font-size: 3em;
}

#div_cat{
    display:none;
}
#table_cat_mob{
    width:100%;
    border-width: 0;
    margin:0;
}
#table_cat_mob tr td{
    border-width: 5;
    margin:auto;
    text-align: center;
}

.cat_btn{
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    width:75%;
    
    border-radius: 5%;
}

@media only screen and (min-width: 600px){
    #div_cat{
        display:block;
        text-align: center;
    }
    #table_cat_mob{
        display:none;
    }
    .cat_btn{
        width:45%;
    }
}

#a_cat_space{
    /*background: linear-gradient(to left,  #F2CB05E0, #F2CB05E0), url("./space_count.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    background: #F2CB05;
}

#a_cat_map{
    background: #03A64A;
}

#a_cat_chars {
    background: #F23030;
}

#a_cat_minigame {
    background: #05C7F2;
}


.wanted{
    background-color: #CC9900;
    text-align: center;
    border-style: solid;
}

#div_latest{
    padding:5%;
}

#div_planner{
    color:white;
    background-image: linear-gradient(to right, #242873FF, #242873F0, #242873A0), url("MiniStarPlanner.png");
    background-size: cover;
}

#div_unused {
    background-image: linear-gradient(to left, #242873FF, #FFFFFFFF), url();
    color:white;
    text-align: right;
    padding-right: 5%;
}

.big_banner{
    margin:auto;
    padding-top:0.1em;
    padding-bottom:2em;
    padding-left: 5%;
}

.big_banner h3{
    font-size: 2em;
}

.btn{
    display: inline-block;
    margin: auto;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    background-color: #0367A6;
    border-radius: 0.1em;
}

